<li class="body-section">

<!-- TÍTULO -->
<div align="center"><div class="titulo">Sobre</div></div>
<hr class="titulo_linha">
                
<!-- CONTEUDO -->
<div class="about">
	<p>Este projeto de finalização de curso surgiu com a ideia de centralizar em um site
diversos tipos de dicas, tutoriais e qualquer tipo de anotação que seja importante para a
efetivação de uma tarefa. Desde tarefas simples como receitas de bolo, passo a passo de trocar
um step de carro, até comandos avançados de programação. Sempre precisamos usar de
artifícios para cumprir tarefas, algumas vezes com frequência e outras mais raramente.<br /><br />

Isto acontece com todas as pessoas, e nossas memórias são relativamente voláteis,
nos esquecemos com o tempo. Com este projeto, pretendemos dar um espaço online para que
as pessoas possam anotar, favoritar o que gostarem e/ou considerarem útil e votar, inclusive,
para que as melhores anotações estejam em maior destaque. Isso garante, de certa forma, que
as melhores informações sejam mais vistas e ganhem destaque. Vamos a partir de agora,
chamar estas anotações virtuais dos usuários de posts.<br /><br />

Com o objetivo de reunir informações úteis de diversos assuntos em um único
website, este projeto buscou os aspectos cruciais e principais para uma plataforma com esta
finalidade. Usabilidade, facilidade e simplicidade visando os usuários terem um amplo acervo
de Posts sobre os mais variados assuntos. Inicialmente um projeto pequeno e aparentemente
simples, mas com grandes expectativas sobre o mesmo. Pois a ideia do projeto era para ser de
uso pessoal, com anotações próprias sobre atividades nossas do dia a dia.<br /><br />

Com a elaboração do projeto, levantamento dos requisitos e elaboração da
documentação do projeto, é visível que apesar de simples, envolve muitos conceitos
tecnológicos para se atender a um bom padrão de software hoje em dia.



</p>

</div>



                
</li> <!-- body-section -->