<li class="body-section">

<!-- TÃTULO -->
<div align="center"><div class="titulo">Contato</div></div>
<hr class="titulo_linha">
                
<!-- CONTEUDO -->
	<ul class="contact">
	<li>Telefone para contato: <b>12 9 81813856</b></li>
	<li>Email: <b>nos@worldnotes.com</b></li>
	</ul>




                
</li> <!-- body-section -->