<li class="body-section">

<!-- TÃTULO -->
  <div align="center"><div class="titulo">Favoritos</div></div>
  <hr class="titulo_linha">


<!-- FAVORITOS -->
  <div class="div_tabela">
    <% current_user.folders.each do | folder |%>
      <% if folder.favorites.any? %>
      <table class="tablesaw" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
        <thead>
          <tr>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"><%= folder.name %></th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <% folder.favorites.each do |favorite| %>
            <tr>
              <td class="title"><%= link_to favorite.post.title, post_path(favorite.post) %></td>
              <td><%= link_to 'Excluir', favorite_path(favorite.id), method: :delete,
                        data: { confirm: 'Quer mesmo excluir?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table><br/><br/>
      <% end %>
    <% end %>
  </div>
</li>
