<li class="body-section">

<!-- TÃTULO -->
	<div align="center"><div class="titulo">Editar Conta</div></div>
	<hr class="titulo_linha">


<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


</li>
