<li class="body-section">

<!-- TÍTULO -->
<div align="center"><div class="titulo">Minha Conta</div></div>
<hr class="titulo_linha">
                

<%= link_to "SAIR", logout_path, method: "delete" %>
                
<!-- MINHA CONTA -->
	<div class="div_tabela">
    		<table class="tablesaw" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
			<thead>
				<tr>
					<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Minhas Publicações</th>
					<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Data</th>
					<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Hora</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="title"><a href="">Aqui vai o Título 1</a></td>
					<td>06 Set 2015</td>
					<td>13:56</td>
				</tr>
                <tr>
					<td class="title"><a href="">Aqui vai o Título 2</a></td>
					<td>08 Set 2015</td>
					<td>14:32</td>
				</tr>
                <tr>
					<td class="title"><a href="">Aqui vai o Título 3</a></td>
					<td>12 Set 2015</td>
					<td>14:45</td>
				</tr>
				<tr>
					<td class="title"><a href="">Aqui vai o Título 4</a></td>
					<td>12 Set 2015</td>
					<td>16:26</td>
				</tr>
				<tr>
					<td class="title"><a href="">Aqui vai o Título 5</a></td>
					<td>14 Set 2015</td>
					<td>09:08</td>
				</tr>
				<tr>
					<td class="title"><a href="">Aqui vai o Título 6</a></td>
					<td>17 Set 2015</td>
					<td>18:30</td>
				</tr>
				<tr>
					<td class="title"><a href="">Aqui vai o Título 7</a></td>
					<td>23 Set 2015</td>
					<td>12:12</td>
				</tr>
				<tr>
					<td class="title"><a href="">Aqui vai o Título 8</a></td>
					<td>26 Set 2015</td>
					<td>23:34</td>
				</tr>
			</tbody>
		</table>
		<p><a href="">Excluir conta</a></p>
    </div>
                
</li> <!-- body-section -->