<li class="body-section">

<!-- TÃTULO -->
<div align="center"><div class="titulo">Sobre</div></div>
<hr class="titulo_linha">
                
<!-- CONTEUDO -->
<%= render 'form' %>
              
</li> <!-- body-section -->