default: &default
  adapter: postgresql
  encoding: unicode
  username: YOUR_USERNAME_HERE
  password: YOUR_PASSWORD_HERE
  locale: pt_BR.UTF8
  pool: 5
  #if you uses a different port in your workstation
  #port: XXXX

development:
  <<: *default
  database: world_notes_development

test:
  <<: *default
  database: world_notes_test

production:
  database: world_notes_production
